@import 'tailwindcss';

.link-underline-trail {
	@apply relative inline-block;

	&:hover,
	&:focus {
		@apply text-orange-500;
	}
}
.link-underline-trail::before,
.link-underline-trail::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: currentColor;
	top: 100%;
	left: 0;
	pointer-events: none;
	transition: transform 0.3s;
	transform-origin: 100% 50%;
	transform: scale3d(0, 1, 1);
}
.link-underline-trail:hover::before {
	transform-origin: 0% 50%;
	transform: scale3d(1, 1, 1);
}
