@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: Bricolage;
	src: url('../src/assets/fonts/BricolageGrotesque_24pt-Regular.ttf');
}

@theme {
	--color-primary: #00373e;
	--color-body-bg: #f7f6f4;
	--font-family-base: 'Bricolage', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family-base);
	background-color: var(--color-body-bg);
}

#root {
	@apply flex flex-col min-h-screen;
}

.splide__track {
	@apply pb-4 md:!pr-16;
}

.dark {
	--color-primary: #028495;
}

.dark body,
.dark header,
.dark footer,
.dark form {
	@apply bg-neutral-900 transition-colors duration-300 text-gray-100;
}

.dark header {
	@apply border-b border-neutral-700;
}

.dark #hero,
.dark [data-block] {
	@apply dark:bg-black dark:bg-none;
	p {
		@apply text-gray-100;
	}
}
