@import 'tailwindcss';

@font-face {
	font-family: Bricolage;
	src: url('../src/assets/fonts/BricolageGrotesque_24pt-Regular.ttf');
}

@theme {
	--color-primary: #00373e;
	--color-body-bg: #f7f6f4;
	--font-family-base: 'Bricolage', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family-base);
	background-color: var(--color-body-bg);
}
